.aboutContainer {
	padding: 20px;
	background-color: #fff;
	color: #333;
	font-family: Arial, sans-serif;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	margin: 0 auto;
}

.aboutContainer h2 {
	font-size: 24px;
	color: #0a1128;
	margin-bottom: 10px;
}

.aboutContainer p {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 10px;
}

.aboutContainer h3 {
	font-size: 20px;
	color: #0a1128;
	margin-top: 20px;
	margin-bottom: 10px;
}

.aboutContainer ul {
	list-style-type: disc;
	padding-left: 20px;
}

.aboutContainer li {
	margin-bottom: 5px;
}
