.popupOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(7, 13, 56, 0.95);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popupContent {
	background: white;
	width: 90vw; /* 90% ширины окна */
	height: 90vh; /* 90% высоты окна */
	overflow-y: auto;
	position: relative;
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 50%;
	background-color: rgb(120, 120, 120);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.closeButton .cross {
	position: relative;
	width: 16px;
	height: 16px;
	display: block;
}

.closeButton .cross::before,
.closeButton .cross::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: white;
	top: 50%;
	left: 50%;
	transform-origin: center;
}

.closeButton .cross::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.closeButton .cross::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.closeButton:hover {
	background-color: #d00;
}
