.headerSection {
	padding: 20px 40px;
	background-color: #f8faff;
	height: 260px;
	position: relative;
	border-top: 6px solid #6c30d326;
}

.headerSection::before {
	content: "";
	position: absolute;
	top: -6px;
	left: 0;
	width: 100%;
	height: 6px;
	background-color: green;
}

.diamond {
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: -25px;
	left: 49%;
	background-color: white;
	transform: translate(0, -50%) rotate(45deg);
}

.headerSection h2 {
	width: 70%;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	color: #001b55;
	margin-bottom: 30px;
	margin-top: 20px;
}

.steps {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.stepItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	text-align: center;
}

.stepItem span:nth-child(1) {
	position: relative;
	margin-bottom: 10px;
}

.stepItem span :nth-child(1) {
	position: absolute;
	top: -5px;
	left: 0px;
	width: 28px;
	height: 28px;
}

.bodySection {
	padding: 40px 40px 20px;
}

.bodySection h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	margin-bottom: 30px;
	color: #001b55;
}

.bodySection form {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.inputs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	gap: 40px;
	margin-bottom: 40px;
}

.inputField {
	flex: 0 1 50%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
}

.info {
	flex: 1 1 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
}

.info span {
	width: 50%;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #5f5f5f;
}

.formButton {
	flex: 1 1 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formButton button {
	width: 260px;
	height: 50px;
	background-color: #011f60;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	line-height: 16px;
}
.inputField.invalid {
	border-color: red;
}
