.header {
	height: 230px;
	background-color: #0a1128;
	color: #fff;
	display: flex;
	align-items: end;
	position: relative;
	overflow: hidden;
}
.container {
	padding-bottom: 40px;
}

.header h1 {
	font-size: 44px;
	line-height: 50px;
	font-weight: 400;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
.IMGContainer {
	position: absolute;
	top: 0px;
	right: 20px;
}
