.footer {
	width: 100%;
}

.topSection {
	padding: 40px 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 40px;
}
.topSection > :nth-child(2) {
	border-left: 2px solid #011e5c33;
	border-right: 2px solid #011e5c33;
}
.footerNav {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-bottom: 10px;
}
.logo img {
	height: 50px;
}

.nav {
	display: flex;
	flex-direction: column;
	gap: 25px;
	flex: 0 0 20%;
}

.nav a {
	color: #011e5c;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

.nav .active {
	color: #ff6f61;
	font-weight: 500;
}

.nav a:hover {
	text-decoration: underline;
}

.contacts {
	flex: 0 0 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
	text-align: right;
	color: #011d5a;
}
.contactsPhone {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contactsPhone > :nth-child(1) {
	font-size: 24px;
	font-weight: 500;
	line-height: 26px;
}

.contactsPhone > :nth-child(2) {
	font-size: 14px;
	line-height: 26px;
}

.contacts > :nth-child(2) {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.bottomSection {
	width: 100%;
	min-height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	background-color: #0341c50d;
}

.bottomSection span {
	font-size: 12px;
	font-weight: 400;
	line-height: 42px;
	color: #011d5a;
}

.customHeading {
	/* Кастомные стили для заголовка */
	color: #001b55;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}

.customContainer {
	/* Кастомные стили для контейнера */
	padding: 0px 40px;
	flex: 1;
}
